<section class="sidebar-section">
    <h3>About me</h3>
    I am a dutch .Net developer.
    I have been coding professionaly since 2008.
    On this blog I will be writing about multiple subjects that I use in my daily programming job or subjects that I am studying.
</section>
<section class="sidebar-section">
    <h3>Social</h3>
    <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i><span>&nbsp;{{ site.github_username }}</span></a> <br />
    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i><span>&nbsp;{{ site.twitter_username }}</span></a> <br />
    <a href="https://www.linkedin.com/in/samantha-neilen-16153713"><i class="fa fa-linkedin" aria-hidden="true"></i><span>&nbsp;{{site.title}}</span></a>
</section>
<section class="sidebar-section">
    <h3>Last posts </h3>    
    {% for post in site.posts limit:5 %}
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> <br/>
        <div class="last-posts-spacer"></div>
    {% endfor %}
    <a href="{{ "/archive" | relative_url }}">Archive</a>
</section>